--- Python Artifacts ---

pycache/
*.pyc
venv/
.ipynb_checkpoints/

--- Data/Report Artifacts ---

Exclude large clean data files and Power BI workbooks

cleaned_sales_data.csv
sales_data_sample.csv
*.pbix
*.pbit
*.xlsx